:root {
}

.header {
    font-size: 150px;
    -unity-text-align: upper-center;
    -unity-font-style: bold;
    color: rgb(0, 0, 0);
}

.button {
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=fa0aaae680136ef41b02433a7bd1de88&type=3#NotInter-Regular");
    width: 330px;
    height: 90px;
    align-self: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 50px;
    -unity-text-align: middle-center;
    transition-duration: 0.35s;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    -unity-text-outline-width: 2px;
}

.button:hover {
    -unity-background-image-tint-color: rgb(255, 0, 0);
    scale: 1.1 1.1;
}

.bodytext {
    align-self: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
}
